global
defaults
    timeout client          30s
    timeout server          30s
    timeout connect         30s

frontend MyFrontend
    bind    192.168.56.101:80
    default_backend         TransparentBack_http

backend TransparentBack_http
     mode                    http
     source 0.0.0.0 usesrc client
     server                  MyWebServer 192.168.56.101:1200
